
.our_room {
    background-color: #f4f5f7;
    padding: 60px 0 60px 0;
}

.our_room .titlepage {
    text-align: center;
}

.our_room .titlepage p {
    color: #121212;
    font-size: 17px;
    margin-top: 20px;
}

.our_room .room {
    text-align: center;
    background-color: #fff;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
}

.our_room .room .room_img {
    overflow: hidden;
}

.our_room .room .room_img figure {
    margin: 0;
}

.our_room .room .room_img figure img {
    width: 100%;
    transition: all .5s;
}

.our_room .room .room_img figure img:hover {
    transform: scale(1.2);
}

.our_room .room .bed_room {
    padding: 33px 30px 30px 30px;
}

.our_room .room .bed_room h3 {
    color: #121212;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    transition: ease-in all 0.5s;
    margin: auto;
}


button{
    border: none;
}

.Btn-edit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90px;
    height: 30px;
    border: none;
    padding: 0px 25px;
    background-color: rgb(71, 38, 255);
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition-duration: .3s;
    font-size: 13px;
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn-edit:hover {
    color: transparent;
  }
  
  .Btn-edit:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn-edit:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }

  .Btn-delete {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90px;
    height: 30px;
    border: none;
    padding: 0px 25px;
    background-color: rgb(255, 38, 38);
    font-weight: 500;
    color: white;
    cursor: pointer;

    transition-duration: .3s;
    font-size: 13px;
  }
  
  
  .Btn-delete:hover {
    color: transparent;
  }
  
  .Btn-delete:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn-delete:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(212, 32, 32);
  }
  .btn-edit-delete{
    display: flex;
    justify-content: center;
  }

